*{
  box-sizing: border-box;
  font-family: arial;
}
.matchPage{
  
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  flex-direction: column;
 
}

.matchDiv{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
  height: 25rem;
  width: 100%;
  margin-top: 2rem;
  padding: 0 2rem;
 
 
}

.cardForMatch{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  padding: 1rem;
  font-size: 75%;
  height: 7rem;
  width: 10rem;
  transition: border 0.3s, transform 0.3s;
  border: 2px solid transparent;
}

.cardForMatch:hover{
  transform: scale(1.2);
}

.cardSelected{
  border: white 2px solid;
}

.isCorrect{

  animation: correct 1s;
  opacity: 0;
 

}

.isWrong{
 background-color: red;
 border-color: red;
 animation:  wrong .5s;

}

@keyframes wrong {
  0%{
    transform: rotate(-5eg);
  }
  25%{
    transform: rotate(5deg);
  }
  50%{
    transform: rotate(-5deg);
  }
  75%{
    transform: rotate(5deg);
  }
  100%{
    transform: rotate(0deg);
  }
}


@keyframes correct {
  0%{
    background-color: rgb(68, 236, 68);
    border-color: rgb(68, 236, 68);
    opacity: 1;
  }
 50%{
    background-color: rgb(68, 236, 68);
    border-color: rgb(68, 236, 68);
    opacity: 1;
  }
  100%{
    background-color: rgb(68, 236, 68);
    border-color: rgb(68, 236, 68);
    opacity: 0;
  } 
}

.playAgainBtn{
  width: 10rem;
  height: 5rem;
  border-radius: 10px;
  background-color: rgb(23, 185, 255);
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  border: none;
  transition: transform 0.3s;

}

.playAgainBtn:hover{
  transform: scale(1.2);
}

/*****************MatchTime styles****************/
.timerDiv{
 
  margin-top: 5rem;
  font-size: 1.5rem;
  color: white;
  display: flex;
  align-items: end;
  gap: 5px;
  
}

.millisec{
  margin-bottom: -.3rem;
  font-size: 2.5rem;
  color: rgb(35, 189, 250);
}

.timerDiv{
 
  margin-top: 5rem;
  font-size: 1.5rem;
  color: white;
  display: flex;
  align-items: end;
  gap: 5px;
  
}

.centerTime{
  transition: transform 1s;
  transform: scale(150%)  translateY(65px) rotateZ(360deg); 
}



.timeLbl{
  color: rgb(168, 168, 168);
  font-size: .75rem;
}



/*******************************/

.timeLabel, .accuracyLabel{
  color: rgb(168, 168, 168);
  
}

.timeLabel{
  margin-bottom: 6rem;
}

.resultDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accuracyP{
  color: rgb(0, 200, 255);
  font-size: 2.5rem;
  margin-top: -.5rem;
}

.hideMatch{
  opacity: 0;
}

.matchDescript{
  color: rgb(199, 199, 199);
  line-height: 2rem;
  width: 75%;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5rem;
}

.matchTitle{
 
  color:rgb(0, 174, 255);
  font-weight: bold;
  font-size: 2rem;
  
}

.showResult{
  animation: resultShow 3s;
}

@keyframes resultShow {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
  
}