*{
  font-family: arial;
}



.testPage{
  width: 100%;
  height: auto;
  padding: 0 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
}


.qCountDiv{

  margin-top: 6.5rem;
  color: white;
  font-weight: bold;
 
}

.qPagesDiv{

  width: 100%;
  display: flex;
  overflow-x: hidden;
  padding-bottom: 1rem;
  
  
}

.qPages{
  width: 100%;
  display: flex;
  flex: 0 0 auto;
  transition: transform .5s;
}

/*MutlipleChoice Component Styling************************************************************************************/
.multipleChoiceDiv{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  transition: transform 0.5s;
 
}

.answersDiv{
  margin-top: 2rem;
  color:white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: .7rem;
  width: 100%;
 
 
}

.choice{
  background-color: #16213E;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  padding: 2rem 1rem;
  transition: background-color 0.3s, transform 0.3s ;
  border-radius: 10px;
}

.choice:focus{
  background-color: #21b7fc;
  border-bottom-color: white;
}

.choice:hover{
  background-color: #21b7fc;
  transform: scale(1.025);
 
}

.question{
  color:#21b7fc;
  font-weight: bold;
  padding: 0 1rem;
 

}

/************************************************************************************************************/

/*********STYLING FOR RESULT COMPONENT***********************************/

.resultsDiv{
  
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resultsLabel,.scoreLabel{
  color: white;
}

.scoreLabel{
  font-size: 1.2rem;
}
.scorePercent{
  color: white;
  font-weight: bold;
  font-size: 5rem;
  margin-top: .50rem;
}

.totalDiv{

  margin-top: -4rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.total{
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

.c span{
  color: rgb(7, 255, 7);
}

.i span{
  color: red;
}

.submitBtn{
  margin: 3rem 0;
  padding: 1rem 2rem;
  color: white;
  background-color: #21b7fc;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.3s;
}

.submitBtn:hover{
  background-color: #66cfff;
  transform: scale(1.05);
}

/***********************************************************

***************/


/****Test Options Component Styling***/

.selectOptionsDiv{
 
  width: 40%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  top: 1.75rem;
  padding-right: 1.5rem;

  justify-self: flex-end;
  margin-left: 60%;


}

.selectOptionsBtn{
  border: none;
  background-color:#21b7fc;
  color: white;
  border-radius: 10px;
  border-bottom: 5px #21b7fc solid;
  font-weight: bold;
  padding: 0.5rem;
  transition: border-bottom-color 0.3s, transform 0.3s;
  
  
}

.selectOptionsBtn:hover{
  border-bottom-color: white;
  transform: scale(1.1);
}

.selectOptions{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: .7rem;
  padding: 1rem 1.5rem;
  background-color: #16213E;
  position: absolute;
  transition: transform 0.3s
  
}

.testChoices{
  border: none;
  padding: .75rem;
  border-radius: 10px;
  font-weight: bold;
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.testChoices:hover{
  transform: scale(1.1);
}

.optionToggle{
  background-color: rgb(24, 216, 24);
  color: white;
}

.selectOptionsHide{
  transform: translateY(-110%);
}

.testOptionDiv{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 4rem;
  padding-right: 1rem;
  z-index: 1;
  border: red 2px solid;

}
/********************************************/

/************************TrueAnd False Styling Components**************************/

.fortF{
  display: flex;
  justify-content: center;
  align-items: center;
}

.choiceTF{
  width: 30%;
}

.splitLabel{
 color: white;
 font-size: 1.5rem;
 margin: 0 2%;
 font-weight: bold;
}

/********************************************************************/
